# Terraform
**/.terraform
**/terraform.tfstate.backup
**/terraform.tfstate

# Vi swap files
**/.*.swp

# application target
app/target

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
