# IntelliJ
**/.idea/
**/*.iml

# Terraform
**/.terraform
**/terraform.tfstate.backup
**/terraform.tfstate

# Vi swap files
**/.*.swp

# application
app/target
application.jar
config.properties

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
